### Input parameters for BGO shield with SiPMs simulation

# Define the number of the initial and final run (the total number of runs will be run_stop - run_final + 1)
run_start = 1
run_stop = 1

# Define the path where to create the working directory
G4PATH = /Users/fioretti/mycosidir/BENCHMARKING/Simulations_XWall_SSL

# Define the simulation ID of the working directory (just to have an identifier number in case of necessity)
sim_id = 0

# Define the geometry type (7: single BGO (NRL), 8: XWall (NRL), 9: XWall (SSL))
geom_type = 9

# Define the BGO abs. length type (1: 10cm, 2: 30.3cm, 3: 200cm, 4: 300cm, 5: 1000cm, 6: 500cm)
bgo_absl_type = 6

# Define the reflective surface type
refl_type = 1

# Define the reflective surface type of the SiPM face
refl2_type = 4

# Define the number of events to simulate
N_in = 1000

# Define the source: Am241 (60keV), Na22 (511keV), Cs137 (662keV)
source = Co60

# Define how to run the simulation (0: nohup, 1: slurm)
isslurm = 0

# Define if a bias is present (left, right, forward or back) (only for collimated sources)
bias =

# Define the job name
job_name = Co60

# Define the number of threads and MPI tasks
num_threads = 10
num_tasks = 1
num_sockets = 2
num_cores_per_socket = 1
container_path = /home/fioretti/MOON/g4_11_1_cosi.sif
